<div layout="column" layout-fill layout-align="space-around center">
  <div layout="row" flex layout-align="center center">
    <md-card flex="50" flex-sm="90">
      <md-card-content class="text-center">
        <h1 class="md-display-1">Page not found</h1>
        <p>Sorry, the page you are looking for cannot be found here. Head back to the home page and start from there.</p>
        <md-button class="md-primary md-raised" ng-click="vm.goHome()" aria-label="Go back home">Go Back Home</md-button>
      </md-card-content>
    </md-card>
  </div>
</div>
